<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>プロジェクト修正</h1>
        <form role="form" method="POST" class="form_create" th:action="@{/projects/{projectId}/edit(projectId=${project.id})}" th:object="${project}">
            <input type="hidden" th:field="*{id}">
            <table class="form-table">
                <tr>
                    <td><label for="name">プロジェクト名</label></td>
                    <td>
                        <input required
                               type="text"
                               id="name"
                               placeholder="プロジェクト名"
                               th:field="*{name}">
                    </td>
                </tr>

                <tr>
                    <td><label for="code">プロジェクトコード</label></td>
                    <td>
                        <input required
                               type="text"
                               id="code"
                               placeholder="プロジェクトコード"
                               th:field="*{code}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="修正" class="btn-blue">
        </form>
    </div>

    <script src="/js/scripts.js"></script>
</div>

</body>
</html>
