<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>勤務時間管理</h1>
        <p><strong th:text="'ユーザー名: ' + ${user.fullName}"></strong></p>
        <p><strong th:text="${currentYear} + '年' + ${currentMonth} + '月'"></strong></p>
        <br>
        <table class="list-table">
            <thead>
            <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>出勤</th>
                <th>退勤</th>
                <th>休憩</th>
                <th>時間内</th>
                <th>残業時間</th>
                <th>タスク</th>
                <th>アクション</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workTime : ${workTimes}"
                th:class="${workTime.isFuture ? 'future' : (workTime.id == null || workTime.isHoliday || workTime.isWeekend ? 'no-worktime' : '')}">
                <td th:text="${workTime.date}"></td>
                <td th:text="${workTime.weekday}"></td>
            <td class="checkin" th:text="${#temporals.format(workTime.checkinTime, 'HH:mm')}"></td>
            <td class="checkout" th:text="${#temporals.format(workTime.checkoutTime, 'HH:mm')}"></td>
            <td class="break" th:text="${workTime.breakTime}"></td>
            <td class="worktime" th:text="${workTime.workTime}"></td>
            <td class="overtime" th:text="${workTime.overTime}"></td>
            <td>
                <a class="btn-blue"
                   th:text="'タスク一覧'"
                   th:if="${!workTime.isFuture && workTime.id != null}"　
                   th:href="@{/worktimes/{workTimeId}/tasks(workTimeId=${workTime.id})}"></a>
                <a class="btn-blue"
                   th:text="'タスク一覧'"
                   th:if="${!workTime.isFuture && workTime.id == null}"
                   onclick="return false"
                   style="cursor: not-allowed;"></a>
                <a class="btn-blue"
                   th:text="'タスク一覧'"
                   th:if="${workTime.isFuture}"
                   onclick="return false"
                   style="cursor: not-allowed;"></a>
            </td>
            <td>
                <a class="btn-blue"
                   th:if="${!workTime.isFuture && workTime.id != null}"
                   th:href="@{/worktimes/{workTimeId}(workTimeId=${workTime.id})}"
                   th:text="'修正'">
                </a>
                <a class="btn-blue"
                   th:if="${!workTime.isFuture && workTime.id == null}"
                   th:href="@{/worktimes/create(date=${workTime.date})}"
                   th:text="'登録'">
                </a>
                <a class="btn-blue"
                   th:if="${workTime.isFuture}"
                   th:text="'登録'"
                   onclick="return false"
                   style="cursor: not-allowed;">
                </a>
                <a class="btn-red"
                   th:if="${!workTime.isFuture}"
                   th:text="'削除'"
                   th:href="@{/worktimes/{workTimeId}/delete(workTimeId=${workTime.id})}">
                </a>
                <a class="btn-red"
                   th:if="${workTime.isFuture}"
                   th:text="'削除'"
                   onclick="return false"
                   style="cursor: not-allowed;">
                </a>

            </td>
            </tr>
            </tbody>
        </table>

        <div>
            <button th:onclick="'/worktime?year=' + ${currentYear} + '&month=' + (${currentMonth} + 1)"
                    th:text="'来月'" th:disabled="${currentMonth} == 12" class="btn"></button>
            <button th:onclick="'/worktime?year=' + ${currentYear} + '&month=' + (${currentMonth} - 1)"
                    th:text="'先月'" th:disabled="${currentMonth} == 1" class="btn"></button>
        </div>
    </div>
</div>
</body>
</html>
