<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>勤怠時間修正</h1>
        <form role="form" method="POST" class="form_create" th:action="@{/worktimes/{worktimeDtoId}(worktimeDtoId=${workTimeDto.id})}" th:object="${workTimeDto}">
            <input type="hidden" th:field="*{user.id}">
            <input type="hidden" th:field="*{user.fullName}">
            <table class="form-table">
                <tr>
                    <td><label>日付</label></td>
                    <td>
                        <input type="text" th:field="*{date}" readonly>
                    </td>
                </tr>
                <tr>
                    <td><label>出勤時間</label></td>
                    <td>
                        <input
                                type="time"
                                placeholder="出勤時間"
                                th:field="*{checkinTime}">
                        <span th:if="${#fields.hasErrors('checkinTime')}" th:errors="*{checkinTime}" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td><label>退勤時間</label></td>
                    <td>
                        <input
                                type="time"
                                placeholder="退勤時間"
                                th:field="*{checkoutTime}">
                        <span th:if="${#fields.hasErrors('checkoutTime')}" th:errors="*{checkoutTime}" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td><label>休憩時間</label></td>
                    <td>
                        <input
                                type="text"
                                placeholder="休憩時間"
                                th:field="*{breakTime}">
                    </td>
                </tr>
                <!--<tr>
                    <td><label>所定内勤務時間</label></td>
                    <td>
                        <input type="text" id="calculatedWorkTime" readonly>
                    </td>
                </tr>
                <tr>
                    <td><label>残業時間</label></td>
                    <td>
                        <input type="text" id="calculatedOverTime" readonly>
                    </td>
                </tr>-->
            </table>
            <!--
                        <button type="button" class="btn" onclick="calculateWorkTime()">計算</button>
            -->
            <input type="submit" value="修正" class="btn-blue">
        </form>
    </div>

    <script src="/js/scripts.js"></script>
</div>

</body>
</html>