<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>タスク修正</h1>
        <form role="form" method="POST" class="form_create" th:action="@{/tasks/{taskId}(taskId=${task.id})}" th:object="${task}">
            <div class="input_field">
                <label for="project">プロジェクト</label>
                <select id="project" th:field="*{project.id}">
                    <option value="" disabled selected>プロジェクト</option>
                    <option th:each="project: ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>
            </div>
            <div class="input_field">
                <label for="jobType">作業内容</label>
                <select id="jobType" th:field="*{jobType.id}" >
                    <option value="" disabled selected></option>
                    <option th:each="jobType : ${jobTypes}" th:value="${jobType.id}" th:text="${jobType.name}"></option>
                </select>
            </div>

            <div class="input_field">
                <label for="totalTime">作業時間</label>
                <input
                        type="text"
                        id="totalTime"
                        placeholder="作業時間"
                        th:field="*{totalTime}">
            </div>

            <div class="input_field">
                <label for="comment">コメント</label>
                <input
                        type="text"
                        id="comment"
                        placeholder="作業時間"
                        th:field="*{comment}">
            </div>
            <input type="submit" value="修正" class="btn-blue">
        </form>
    </div>

    <script src="/js/scripts.js"></script>
</div>

</body>
</html>