<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>メンバー管理</title>
  <link href="css/styles.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<main class="table">
  <section class="table-header">
    <h1>メンバー管理</h1>
  </section>
  <section class="table-body">
    <table>
      <thead>
      <tr>
        <th>"*{Id}"</th>
        <th>"*{Name}"</th>
        <th>"*{Fullname}"</th>
        <th>"*{Position}"</th>
        <th>"*{Department}"</th>

      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>
  <script src="../../static/js/script.js"></script>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>