<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<script src="/js/scripts.js"></script>
<script>
  function togglePasswordVisibility() {
      const passwordField = document.getElementById("password");
      const toggleIcon = document.getElementById("toggleIcon");
      if (passwordField.type === "password") {
          passwordField.type = "text";
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash");
      } else {
          passwordField.type = "password";
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye");
      }
  }
</script>
<body>
<div class="wrapper">
  <div th:replace="~{layout :: sidebar}"></div>
  <div th:replace="~{layout :: top_menu}"></div>
  <div class="main_container">
    <h1>パスワード・リセット</h1>
    <form role="form" method="POST" th:action="@{/members/reset_password/{id}(id=${user.id})}" th:object="${user}">
      <table class="form-table">
        <input type="hidden" th:field="*{id}">
        <tr>
          <td><label for="username">ユーザー名</label></td>
          <td>
            <label id="username"
                   th:text="${user.userName}">
            </label>
          </td>
        </tr>

        <tr>
          <td><label for="password">パスワード</label></td>
          <td>
            <input required type="password"
                   id="password"
                   placeholder="パスワード"
                   th:field="*{password}"
            ><span style="transform: translateY(-50%); cursor: pointer;"
                   onclick="togglePasswordVisibility()">
                        <i id="toggleIcon" class="fa fa-eye"></i>
                        </span>
            </input>
          </td>
        </tr>
      </table>
      <button type="submit" class="btn-blue">リセット</button>
    </form>
  </div>
</div>

</body>
</html>