body {
    text-align: center;
}

.list{
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.list thead tr {
    background-color: #00655c;
    color: white;
    text-align: left;
    font-weight: bold;
}

.list th,
.list td {
    padding: 10px 13px;
}

.list tbody tr{
    border-bottom: 1px solid lightgrey;
}

.list tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

/*
!*
body {
    background: #ffc8d0;
    color: deeppink;
    font-size: 80pt;
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
}*!

.card{
    color:#222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 5px solid black;
    border-radius: 10px;

    padding:30px;
}

.main{
    margin-top: 100px;
    text-align: center;
}

.logo-img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.search-input {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    line-height: 24px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-warpper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    background: #ecd6d6;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
}


!*
body{
    margin: 8px;
}

.red{
    background: red;
    height: 100px;
}

.blue{
    background: darkblue;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.green{
    background: darkgreen;
    height: 100px;
}
*!
*/
