<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>勤怠管理システム</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/24bd1a3804.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
                $(".hamburger").click(function(){
                    $(".wrapper").toggleClass("collapse");
                });
            });
    </script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul>
            <li><a href="/departments" class="active">
                <span class="icon"><i class="fa-solid fa-building" aria-hidden="true"></i></span>
                <span class="title">部署管理</span>
            </a></li>
            <li><a href="/worktimes">
                <span class="icon"><i class="fa-solid fa-clipboard-list" aria-hidden="true"></i></span>
                <span class="title">勤怠時間管理</span>
            </a></li>
        </ul>
    </div>

    <div class="top_menu">
        <div class="system_name">勤怠管理システム</div>
        <a href="/logout">ログアウト</a>
    </div>

    <div class="main_container">
        <h1>部署管理</h1>
        <table class="list-table">
            <thead>
            <tr>
                <th>#</th>
                <th>部署名</th>
                <!--        <th>メンバーリスト</th>
                        <th>作業内容リスト</th>-->
                <th></th>
            </tr>
            </thead>
            <tbody th:each="department, stat : ${departments}">
            <tr>
                <td th:text="${stat.index+1}"></td>
                <td th:text="${department.name}"></td>
                <!--        <td><button class="btn">メンバリストを見る</button></td>
                        <td><button class="btn">作業リストを見る</button></td>-->
                <td><a class="btn-blue">修正</a><a class="btn-red">削除</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>