<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>勤怠管理システム</title>
</head>

<body>
<div class="wrapper">
    <div class="top_navbar">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="top_menu">
            <div class="logo">勤怠管理システム</div>
            <ul>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>

    </div>
</div>


</body>

</html>
