<!--Mai Huong-->

<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <title>作業内容作成</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>作業内容作成</h1>
        <form action="/jobtypes/create" method="post">
            <table class="form-table">
                <tr>
                    <td><label for="name">作業内容名:</label></td>
                    <td><input type="text" id="name" name="name" placeholder="作業種類名" required></td>
                </tr>
            </table>
            <button type="submit" class="btn-blue">作成</button>
        </form>
    </div>
</div>
<script src="/js/scripts.js"></script>
</body>
</html>